#advies-tekst {
	i  {
    color: #2E3D50!important;
    margin-right: 5px;
	}
	p {
	margin-bottom: 10px;
	}
}


#contactgegevens {
	margin-top: 10px;
	a {
	text-decoration: none;
	}
}

#maps {
	margin-bottom: -5px;
}