#advies-tekst {
	i  {
    color: #2E3D50!important;
    margin-right: 5px;
	}
	p {
	margin-bottom: 10px;
	}
}


#contactgegevens {
	margin-top: 10px;
	a {
	text-decoration: none;
	}
}

#maps {
	margin-bottom: -5px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    width: 25px;
    margin-right: 5px;
}

.wpcf7-form-control {
    padding: 10px;
    background-color: #f8f9f9;
    border: 1px solid #f8f9f9;
}
