.site-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	h3 {
		color: #2E3D50
	}
}

#connectedrow {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0px;
	border-bottom: 1px solid #e4e4e4;
	Background: #e4e4e4;
	align-content: start;
	box-sizing: border-box;
	&-social {
		width: auto;
		margin: auto;
		max-width: 100%;
		padding: 0px 40px;
		box-sizing: border-box;
	}
	&-social h3 {
	margin-bottom: 10px;
	}
	&-news {
		margin: auto;
		box-sizing: border-box;
		padding: 0px 40px;
		max-width: 100%;
	}
	&-news h3 {
		margin-bottom: 10px;
		width: 100%;
	}
	.wpcf7-text {
		max-width: 100%;
		box-sizing: border-box;
	}
}

#connectedrow-social-icons img {
	margin-right: 10px;
}

#connectedrow-news-aanmelden {
	max-width: 100%;
	box-sizing: border-box;
}

#footerlist {
	width: calc(100% - 10px);
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	padding: 20px;
	border-bottom: 1px solid #e4e4e4;
	overflow: hidden;
	margin: auto;
}

.footerlist-item {
	width: 16%;
	min-width: 300px;
	margin: 0px auto 10px auto ;
	&-title {
		width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 110%;
	}
	p {
	line-height: 2.2em;
	}
	a {
	width: 100%;
	line-height: 2.2em;
	}
}

.footerlist-item a:hover { 
	text-decoration: none;
	color:	#252727;
	border-bottom: 1.5px solid $btncolor;
	
}

#bottomline {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
	padding: 4px;
}

.wpcf7-form {
margin-top: 4px;
}

.wpcf7-form-control {
padding: 10px;
background-color: #fff;
border: 1px solid #e4e4e4;
}

.wpcf7-text, .wpcf7-textarea {
	font-size: 12px;
	line-height: 1.4em;
	vertical-align: bottom;
	color: black;
	border: 1px solid #fff;
}


.wpcf7-form p {
display: inline;
}

.wpcf7-submit {
	width: 120px;
	display: inline;
	background-color: #2E3D50 ;
	color: #fff;
	border: 1px solid #2E3D50;
	margin-top: 5px;
	margin-left: -5px;
	text-transform: uppercase;
	transition: background-color 0.5s linear;
}

.wpcf7-submit:hover {
	cursor: pointer;
	background-color: #7a7979;
	color: #fff;
}