@media screen and (max-width: 1220px) {
/////////////////////////////////////

#frontproducts {
width: 95%;
margin-bottom: 20px;
}

.page-id-12 .frontproduct {
    min-height: 300px;
	}

.homepageproducts .frontproduct {
	height: auto;
}

.homepageproducts .frontproduct-img {
	width: 100%;
	height: 280px;
}


.homepageproducts .frontproduct-text {
	width: 100%;
	height: calc(100% - 280px);
	order: 3;
	padding-bottom: 10px;
	h3 {
		font-size: 18px;
		position: static;
		padding-top: 20px;
	}
	p {
		font-size: 16px;
		position: static;
	}
	a {
		position: static;
		
	}
}


.page-id-12 .frontproduct  {
	height: auto;
	&-img {
		width: 90%;
		height: 200px;
	}
	&-text {
		width: 100%;
		height: calc(100% - 280px);
		order: 3;
		padding-bottom: 10px;
		h3 {
			font-size: 18px;
			position: static;
			padding-top: 20px;
		}
		p {
			font-size: 16px;
			position: static;
		}
		a {
			position: static;
			
		}
	}
}

#advies {
	width: 90%;
}
#advies-tekst {
	width: 300px;
}

#advies-contact {
	width: 380px;
}

#wpcf7-f104-o1 input {
    width: 90%;
}

#wpcf7-f104-o1 .wpcf7-textarea {
    width: 90%;
}

span.wpcf7-list-item {
	font-size: 16px;
}


#productgroup-container .frontproduct {
		width: 300px;
		min-height: 0;
}

#individual-related {
&-block {
	width: 290px;
	height: 300px;
	}
&-block-text-title {
top: 15px;
}
}

#wpcf7-f104-o1 .wpcf7-submit {
	width: 250px;
}

#loginpage {
	max-width: 90%;
}

		#individual-content-text {
			width: calc(100% - 400px);
		}
		
		#individual-downloads {
			width: 300px;
		}

/////////////////////////////////////
}


	@media screen and (max-width: 1138px) {
	/////////////////////////////////////
		.page-id-12 #frontproducts {
			grid-template-columns: repeat(2, 380px);
			padding: 50px 0px 50px 0px;
			margin-bottom: 0px;
		}
		
		.page-id-14	#pitch-text {
			max-width: 350px;
		}
		
		#over-tekst {
			width: 400px;
		}		
				
		#over-foto {
			width: 400px;
		}		
		
		#container-nieuwsbericht {
			padding: 50px 20px;
			box-sizing: border-box;
		}
		
		#nieuws-sidebar .excerpttext {
			width: 150px;
		}
		
		#container-nieuwsbericht-right {
			min-width: 270px;
		}
		
		#container-nieuwsbericht-left-image {
			height: 250px;
		}
		
		#container-nieuwsbericht-left {
		width: 50%;
		}
		
		.waar-item {
			width: 450px;
		}
		
		.waar-item-content a {
			font-size: 15.5px;
		}
		
		.waar-item-content-naam {
			padding: 20px 0px 10px 0px;
		}

	/////////////////////////////////////
	}
	
		@media screen and (max-width: 1020px) {
		/////////////////////////////////////
			.site-header {
				border-bottom: none;
				position: fixed;
				top: 0;
			}
			
			.site-nav {
				display: none;
				position: absolute;
				top: 130px;
				background: white;
				z-index: 9999;
				width: 100%;
				height: calc(100vh - 137px);
				overflow-y: scroll;
				box-sizing: border-box;
				.fa-caret-right {
					display: none;
				}
				ul {
					display: block;
					li {
						display: block;
						padding:5px 0px;
						border-bottom: 1px solid #e4e4e4;
						
						ul {
							position: static;
							width: 100%;
							padding-top: 0;
							a {
								margin-left: 20px;
							}
						}
					}
				}
			}
			.site-nav ul li ul li {
				padding:5px 0px;
				a {
					color: rgba(0,0,0,0.5);
				}		
			}
			
			.site-nav ul li ul li:last-of-type {
				padding-bottom: 0;
				border-bottom: none;
			}
			
			.site-nav ul li ul li ul li {
				padding:5px 0px;
				margin-left: 20px;
			}
			
			.site-nav ul li ul li ul {
				padding: 0;
			}
			
			.site-nav ul li ul li:first-of-type {
				padding: 5px 0px;
			}
			
			.site-nav ul li ul li ul li:last-of-type {
				padding-bottom: 0;
				border-bottom: none;
			}
			

			
			.site-nav ul li ul li ul {
				position: static;
				li {
					margin-left: 20px;
					border: none;
					border-bottom: 1px solid #e4e4e4;
					&:last-of-type {
						border: none;
					}
					a {
				
					}
				}
			}
			
			#menu-item-232, #menu-item-233 {
				margin: 15px 0px;
				border-bottom: none;
			}
			
			#menu-item-485 {
				display: block;
			}
			.header-right {
				padding: 5px 0px;
			}
			
			.login {
				border-left: none;
			}
			
			.partner:first-of-type {
				display: none;
			}
			
			.partner:nth-of-type(2) {
				border: none;
			}
			
			#mobile-menu-open {
				display: flex;
				flex-wrap: wrap;
				order: 8;
				margin: auto 30px auto 20px;
				height: 37px;
				width: 45px;
				padding: 10px 0px;
				align-content: center;
				i {
					margin: auto;
					font-size: 30px!important;
				}
				p {
				font-size: 9px;
				width: 100%;
				text-align: center;
				margin: auto;
				}
			}
			
			.menu-primary-container {
				padding: 30px;
			}
			
			
			.site-header i {
				margin: auto 10px auto auto;
			}
			
			
			.logo {
				margin-left: 30px;
			}
			
			.login, .partner {
				padding: 0px 15px;
			}
			
			#searchform {
				right:50%;
				transform: translateX(50%);
				top: 120px;
				width: 95%;
				& #s {
					width: 95%;
				}
			}
			
			/// Container under header for fixed position
			.container {
				margin-top: 137px;
			}
			
			#hero {
				height: 60vh;
			}
			

			#hero-text {
				
				top: 20%;
				h1 {
					font-size: 180%;
				}
				h2 {
					font-size: 120%;
				}
				.btn {
					padding: 10px 22px;
				}
			}
			
			#hero-sub-text {
				top: 42%!important;
				font-size: 16px;
			}
			
			#pitch-text {
				max-width: 350px;
			}
			
			.pitch-title-box {
				max-width: 350px;
			}
		
			
			.frontproduct, .page-id-12 .frontproduct  {
				&-img {
					height: 200px;
					margin-bottom: 0px;
				}
				&-text {
				height: calc(100% - 240px);
				}
			}
			
			.page-id-12 #frontproducts {
				padding: 50px 0px 0px 20px 0px;
			}
			
			#individual {
			margin: 120px auto 60px auto;
			}
			
			#individual-related {
			&-block-text-title {
			top: 10px;
			font-size: 15px;
			}
			}

			#individual-related-block-text-link {
				bottom: 20px;
				font-size: 15px;
			}
			

			
		/////////////////////////////////////
		}

@media screen and (max-width: 988px) {
/////////////////////////////////////


#excerptcontainer {
	width: 100%;
}

#nieuws-border {
    width: 100%;
}

/////////////////////////////////////
}

			@media screen and (max-width: 980px) {
			/////////////////////////////////////
				#individual-right-text {
					width: 100%;
				}
				
				#individual-breadcrumb {
					font-size: 16px;
				}
				
				#individual-right h2 {
					font-size: 24px;
				}
				
				#individual-right-text h3 {
					font-size: 17px;
				}
				
				#individual-right p {
					font-size: 16px;
				}
				
				#individual-left {
					width: calc(50% - 20px);
				}
				
				#individual-content {
					width: calc(100% - 90px);
				}
				
				#individual-content-text {
					width:100%;
				}
				
				#individual-content-text h2 {
					font-size: 24px;
				}
				
				#individual-content-text p {
					font-size: 16px;
				}
				
				#individual-downloads {
					width: 100%;
					max-width: 500px;
				}
				
				
				.download-button p {
				font-size: 16px;
				}
				
				#functieoverzicht-item p {
					font-size: 16px;
				}
				
				#portal-content-side {
					display: none;
				}
				
				
				
				#portal-content-right {
					width: 100%;
				}
				
				.page-id-106 .itemcont { 
					padding-bottom: 10px;
				}
				
				#pitch {
					width: calc(100% - 90px);
				}
				
				#pitch-text {
					font-size: 16px;
					max-width: 350px;
				}
				
				#pitch-title {
					font-size: 24px;
				}
				
				#fronttestimonial-slider-titel {
					font-size: 16px;
				}
				
				#fronttestimonial-slider-text {  
					font-size: 16px;
				}
				
				#excerptcontainer-content p {
					font-size: 16px;
				}
				
				#nieuws h2 {
				font-size: 24px;
				
				}
				
				#container-nieuwsbericht h1 {
					font-size: 26px;
				}
				
				#container-nieuwsbericht-left h2 {
					font-size: 24px;
				}
				
				#container-nieuwsbericht-right-titel {
					font-size: 60%;
				}
				
				#container-nieuwsbericht-right-titelcontact {
					font-size: 60%;
				}
				
				#container-nieuwsbericht-right {
					min-width: 250px;
					padding: 0px 20px;
					span {
					font-size: 80%;
					}
				}
				
				#nieuws-sidebar .excerpttext {
					width: 130px;
				}
								
				.footerlist-item {
				min-width: 200px;
				}
				
				.footerlist-item a {
				font-size: 16px;
				}	

				#advies-tekst p {
					font-size: 16px;
				}
				
				#individual-related-block {
					width: 220px;
					height: 250px;
				}
				#over {
					padding: 40px 0px 40px 0px;
				}
				
				#over-tekst {
				p {
					font-size: 16px;
					}
				h2 {
					font-size: 24px;
					}
				}
				
				#over-foto {
					width: 260px;
				}
				
				#loginpage {
				font-size: 16px;
				}
				
				#loginpage-aanvragen {
					padding: 50px 20px;
				}
				
				.buttonp1 a, .buttonp2 a {
				font-size: 16px;
				}
				
				.waar-item-content a {
					font-size: 16px;
				}
				
				.waar-item {
					width: 420px;
				}
				
				.waar-item-content-naam {
					font-size: 17px;
				}
				
				.waar-item-content-cont {
					padding: 0px 15px;
				}
				
				
				 #container-standaardtemp {
					width: calc(100% - 90px);
					margin: 30px auto;
					h1, h2 {
						font-size: 24px;
					}
					p {
						font-size: 16px;
					}
				}
				#container-standaardtemp ul li {
					font-size: 16px;
				}
				
				#titel-search h2 {
					font-size: 24px;
				}

			/////////////////////////////////////
			}

	@media screen and (max-width: 900px) {
	/////////////////////////////////////
		.page-id-12 #frontproducts {
			grid-template-columns: repeat(2, 320px);
		}
		
		.frontproduct-img, .page-id-12 .frontproduct-img {
			height: 180px;
		}
		
		.page-id-12 .frontproduct {
			min-height: 280px;
		}
		
		#functieoverzicht-item {
			width: 90%;
		}
		
		.site-nav {
			min-width: 0;
		}
		
		#connectedrow-news {
			padding: 40px 40px 0px 40px;
			width: 100%;
			text-align: center;
		}
		
		#connectedrow-social {
		
			text-align: center;
		}
		
		
		#footerlist {
			width: calc(100% - 250px);
		}
		
		#productgroup-container {
			width: calc(100% - 10px);
			margin-top: 10px;
		}
		
		.pitch-title-box {
			max-width: 300px;
		}
		
		#over-tekst {
			width: 300px;
		}
		
		.waar-item {
			width: 90%;
			height: 180px;
		}
		
	/////////////////////////////////////
	}
	
	@media screen and (max-width: 780px) {
	/////////////////////////////////////
	
	
	#pitch-text {
		max-width: 100%;
	}
	
	.itemcont {
    max-width: 1200px;
    padding: 40px 0px 20px 0px;
    margin: auto;
    display: block;
	}
	.pitch-title-box {
	margin-bottom: 15px;
	}
	
	.page-id-12 #frontproducts {
    grid-template-columns: repeat(2, 250px);
	}
	
	.page-id-12 .frontproduct {
		min-height: 240px;
	}
	
	.frontproduct-img, .page-id-12 .frontproduct-img {
    height: 140px;
	}
	
	#frontusp {
		padding: 40px 0px 40px 0px;
		margin-top: 60px;
	}

	#usp {
		width: 100%;
	}
	
	#advies-tekst {
		width: 95%;
		margin: 40px auto 0px auto;
		p {
		max-width: 100%;
		}
	}

	#advies-contact {
	width: 95%;
	padding: 10px 0px 40px 0px;
}

#wpcf7-f104-o1 input {
    width: 90%;
}



#wpcf7-f104-o1 .wpcf7-textarea {
    width: 90%;
}


#productgroup-container .frontproduct {
    width: 500px;
    height: 450px;
}

#productgroup-container .frontproduct-img {
	height: 80%;
}




#individual-related {
&-block {
    width: 500px;
    height: 450px;
}
&-block-img {
		height: 80%;
}

}

	.page-id-14 .itemcont {
	display: block;
	padding-top: 40px;
	}
	.pitch-title-box {
		max-width: 100%;
	}
	.page-id-14 #pitch-text {
		max-width: 95%;
	}
	
	#blogpagecontainer {
		padding-top: 30px;
	}
		#container-nieuwsbericht {
	padding: 30px 0px;
	box-sizing: border-box;
	width: calc(100% - 50px);
}


#container-nieuwsbericht-left {
	width: 100%;
}

#container-nieuwsbericht-right {
	width: 100%;
	padding: 0px 30px;
}

#loginpage-aanvragen {
	width: 95%;
	margin: 0px auto 0px auto;
	padding: 0px;
}

#loginpage {
    padding: 40px 0px 40px;
}
	
	/////////////////////////////////////
	}
	
		
	@media screen and (max-width: 720px) {
	/////////////////////////////////////

		
		#individual {
			margin: 20px auto;
			&-breadcrumb {
				font-size: 14px;
			}
		}
	
		#individual-left, #individual-right {
			width: 100%;
		}
		
		#individual-left {
			order: 2;
		}
		
		.product-image-container {
			margin: auto;
		}
		
		.product-image-block {
			width: 31%;
			margin: 10px 0;
			min-width: 0;
		}
		
		#functieoverzicht-icon {
			align-self: start;
		}
		
		#advised {
				h2 {
					padding: 20px 0px;
					margin: auto;
					width: 100%;
					text-align: center;
					font-size: 28px;
				}
			&-contact {
				display: flex;
				flex-wrap: wrap;
				width: 95%;
				max-width: 1200px;
				margin: auto;
				padding: 20px 0px;
			}
		}

		.advised-contact-box {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			min-width: 0;
			height: auto;
			margin: 10px auto;
			&-text {
				width: calc(100% - 70px);
			}
			img {
				width: 50px;
				height: 50px;
			}
			h3 {
				line-height: 3rem;
				width: 100%;
				font-size: 1.1rem;			
			}
			p {
				width: 100%;
				line-height: 2.5rem;
				font-size: 1.1rem;
			}
		}
		
	#footerlist {
		width: calc(100% - 150px);
	}
	
	#individual-breadcrumb {
		font-size: 14px;
		margin: 0px 0px 20px;
	}



		
		
	/////////////////////////////////////
	}

@media screen and (max-width: 650px) {
/////////////////////////////////////	
.homepageproducts .frontproduct {
	height: auto;
	padding-bottom: 40px;
}

.homepageproducts .frontproduct-text {
    height: calc(100% - 240px);
	padding-bottom: 0px;
	}


.page-id-12 .frontproduct {
    min-height: 300px;
}

#frontproducts, .page-id-12 #frontproducts {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin: 40px 0px 0px 0px;
}

.frontproduct, .page-id-12 .frontproduct  {
	height: auto;
	width: 80%;
	margin-bottom: 35px;
	&-img {
		width: 75%;
		height: 200px;
	}
	&-text {
		width: 100%;
		height: calc(100% - 300px);
		order: 3;		
		h3 {
			font-size: 18px;
			
			padding-top: 5px;
			margin-top: 20px;
		}
		p {
			font-size: 16px;
			position: static;
			width: 80%;
			margin: auto;
		}
		a {
			position: static;
			
		}
	}
}

		//// Waar te koop page
			// Filter buttons
			.waar-pitch {
				padding-bottom: 0;
			}
			
			#mobile-filter {
				display: block;
				width: 250px;
				max-width: calc(100% - 60px);
				margin: 0px auto;
			}
			
			#waar-filter {
				width: 250px;
				max-width: calc(100% - 60px);
				margin: 0px auto;	
			}
			
			.filter-button {
				display: none;
				width: 250px;
				max-width: calc(100% - 60px);
				margin: 0px;
				border-bottom: 1px solid white;
			}



/////////////////////////////////////
}

@media screen and (max-width: 590px) {
/////////////////////////////////////
.site-nav ul {
	width: 100%;
	overflow: hidden;
	li {
		a {
			font-size: 16px;
		}
		ul {
			padding-left: 0px;
			max-width: 100%;
			
		}
	}
}

.filetype, .filesize {
	margin-right: 5px;
}

#hero, #hero-sub {
	height: 50vh;
}
			

	#hero-text {
		h1 {
			font-size: 130%;
		}
		h2 {
			font-size: 90%;
		}
		.btn {
			padding: 7px 22px;
			top: 10px;
		}
		&-link {
			font-size: 15px;
		}
	}
	
	#hero-sub-text-heading {
		font-size: 200%;
	}

	.btn2 {
		padding: 7px 15px;
		font-size: 15px;
	}

	#pitch-text {
		margin-bottom: 15px;
	}
	
	

	.btn3 {
		padding: 10px 15px;
		font-size: 15px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.slide {
		padding: 25px 10px 35px;
	}
	
	#footerlist {
		width: calc(100% - 50px);
	}

	#productgroup-container .frontproduct {
		width: 90%;
		height: auto;
	}
	
	#productgroup-container .frontproduct-img {
		width: 100%;
		height: 280px;
		background-size: cover;
	}

	
	#over-foto {
    width: 100%;
    text-align: center;
    height: 300px;
	margin: 20px 0px 10px;
	img {
		width: 85%;
	}
}

	#over-tekst {
		width: 85%;
	}

/////////////////////////////////////
}

@media screen and (max-width: 460px) {
/////////////////////////////////////

/*
.menu-primary-container {
	display: none;
}

.site-footer, #advies-contact {
	display: none;
}
*/

.menu-primary-container {
    padding: 10px;
}

#hero, #hero-sub {
	height: 260px;
}

#hero-text {
    top: 15%;
	max-width: calc(100% - 40px);
}

#hero-sub-text {
	top: 35%!important;
}

#hero-sub-text-heading {
    font-size: 150%;
}

.btn2 {
	padding: 7px 5px;
}

#hero-text h1 {
    font-size: 120%;
	margin-bottom: 20px;
}

#hero-text-subheading {
    margin-bottom: 20px;
}

#pitch {
    width: 90%;
	}

.slide {
	padding: 25px 10px 45px;
}

.homepageproducts .frontproduct-img {
    height: 200px;
}

.homepageproducts .frontproduct-text {
    height: calc(100% - 160px);
	}

#nieuws {
	padding: 30px 30px;
	box-sizing: border-box;
}

#functieoverzicht-item {
	flex-wrap: wrap;
}

#functieoverzicht-container {
    width: 90%;
}

#functieoverzicht-icon {
	margin: 0px auto 20px auto;
}

#functieoverzicht-info {
	width: 100%;
	p {
		padding: 0;
	}
}

#individual {
    width: 90%;
	}

#individual-left {
	display: none;
}

#product-image-container {
	border-top: none;
	border-bottom: none;
	width: 90%;
}

.product-image-block {
	width: 100%;
	cursor: initial;
}

#product-image-4 {
	display: none;
}

#individual-content {
   width: 90%;
}

#individual-content-text {
	min-width: 0;
}

#filelink {
	font-size: 12px;
}

#advies-tekst {
	margin-bottom: 0;
}

#advies-contact {
	padding-top: 0;
}

#advies-contact input {
	display: block;
	max-width: 90%;
}

#wpcf7-f104-o1 .wpcf7-textarea {
	display: block;
	max-width: 90%;
}

.wpcf7-submit {
	margin-left: 0;
}

#blogpagecontainer {
    padding: 0;
    width: calc(100% - 40px);
    margin-top: 40px;
}

#excerptcontainer {
	min-width: 0;
	padding-top: 0px;
}

#excerptimage {
    width: calc(100%);
	margin: auto;
	margin-bottom: 10px;
	height: 200px;
    &:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}
}

#excerptcontainer-content {
	width: calc(100%);
	margin: auto;
}

#productgroup-container {
	width: 100%;
}

#portal-hero {
	height: 200px;
	&-heading {
		font-size: 180%;
	}
}

#portal-content {
	&-banner {
		text-align: center;
		h2 {
			padding: 15px 0px;
			margin: auto;
		}
	}
}

#portal-content-right-space {
	#breadcrumbtrail {
		top: -150px;
	}
	#filelink p {
		margin: 0 5px;
	}
}

.copyright {
	margin: 10px;
	span {
		display: none;
	}
	p {
		margin: 5px 0px;
		line-height: 2.5em;
	}
}

#over-tekst {
    width: 90%;
}

#over-foto img {
    width: 90%;
}

#advies-tekst {
    width: 100%;
	}
	
#advies-contact {
    width: 100%;
	}
	
.page-id-14 #advies-contact input {
    display: inline;
    max-width: 90%;
}

#wpcf7-f104-o1 input {
	display: inline;
}

#container-nieuwsbericht {
    padding: 0px;
    width: calc(100% - 40px);
}

#container-nieuwsbericht-left, #container-nieuwsbericht-right {
	padding: 0px;
}

#container-nieuwsbericht-left-image {
    height: 150px;
}

.waar-item-img {
	width: 100%;
	height: 50%;
	background-size: contain;
}

.waar-item-content {
	width: 100%;
	height: 50%;
}

.waar-item-content-cont {
	padding: 5px;
}

.waar-item-content {
	&-naam {
		padding: 5px 0px;
	}
	&-telefoon {
		padding-bottom: 0;
	}
	&-mail {
		padding-bottom: 0;
	}
}

.waar-item {
    height: 270px;
}

#container-standaardtemp {
	width: calc(100% - 40px);
}

#titel-search {
    margin: 40px 0px 0px 20px!important;
}

#excerptimagesearch {
    margin-bottom: 0px!important;
	height: 120px!important;
}

	/////Member login
	
	#contactbutton {
		display: none;
	}
	
	#loginpage-aanvragen {
		width: 100%;
	}
/////////////////////////////////////
}

@media screen and (max-width: 380px) {
/////////////////////////////////////

.swpm-login-widget-form {
    width: 250px;
}

.logo {
	margin-left: 5px;
}

.site-nav ul {
	padding-left: 5px;
	li a {
			font-size: 14px!important;
		}
}

.site-header i {
	margin-right: 2px;
	font-size: 18px;
}

.footerlist-item {
	width: 90%;
	min-width: 100px;
}

#mobile-menu-open {
	margin-right: 5px;
}



/////////////////////////////////////
}