/*nieuws index */

#blogpagecontainer {
	max-width: 1300px;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	padding: 50px;
}

#excerptcontainer {
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 20px 0px;
	width: calc(50% - 30px);
	min-width: 420px;
}

#excerptimage {
	margin-right: 15px;
	width: 140px;
	height: 140px;
	background-size: cover;
	background-repeat: no-repeat;
}

#excerptcontainer-content {
	width: calc(100% - 160px);
	padding-bottom: 30px;
	h4 {
		font-weight: bold;
		font-family: inherit;
		font-size: 110%;
		margin: 5px 0px;
	}
	span {
		font-size: 90%;
	}
	p {
		margin: 10px 0px 20px 0px; 
	}
}

.readmorelink {
	Color:#AF242B!important;
	font-weight: bold;
}
	
#nieuws-border {
	width: 50%;
	border-bottom: 1px solid #AF242B;
	transition: width 1.2s;
}

#excerptcontainer-content:hover + #nieuws-border {
	width: 100%!important;
}

/*nieuwsbericht */

#container-nieuwsbericht {
	max-width: 1300px;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	padding: 50px;
	p {
		padding: 20px 0px;
	}
	h1 {
	text-transform: none;
	}
}

#container-nieuwsbericht-left {
	width: 55%;
	padding: 0px 30px;
	span {
		font-size: 80%;
	}
	&-image {
		height: 300px;
		background-size: cover;
		margin-top: 10px;
	}
}

#excerptimage-content {
	width: 90%;
	height: 200px;
}

#container-nieuwsbericht-right {
	width: 28%;
	padding: 0px 30px;
	margin-bottom: 20px;
	&-titel {
	padding-bottom:20px;
	margin-top: 10px;
	border-bottom: 1px solid #e8ebeb;
	font-size: 80%;
	}
	&-titelcontact {
	padding-bottom:20px;
	margin-top: 30px;
	border-bottom: 1px solid #e8ebeb;
	font-size: 80%;
	}
}

#nieuws-sidebar {
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 35px 0px;
	h4 {
	text-transform: none;
	}
}

#nieuws-sidebar .excerpttext {
	width: 220px;
}

#excerptimage-sidebar {
	margin-right: 15px;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}

#nieuws-border {
	width: 60%;
	border-bottom: 1px solid #AF242B;
	transition: width 1.2s;
}

#nieuws-sidebar:hover + #nieuws-border {
	width: 100%!important;
}

#dpsp-content-bottom {
    margin-top: 0.7em!important;
}

.dpsp-share-text {
    margin-bottom: 0px;
	font-size: 120%;
}


