.page-id-14 .itemcont {
	max-width: 1000px;
	padding: 60px 20px 70px 20px;
	margin: auto;	
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}


#over-container {
	background: #f1f1f1;
}

#over {
	padding: 70px 0px 70px 0px;
	margin: auto;	
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1300px;
	width: 100%;
	h2 {
	margin-bottom: 20px;
	}
	h3 {
	margin: 20px 0px;
	}
	p {
	margin-bottom: 15px;
	}
}

#over-tekst {
	width: 500px;
	max-width:95%;
}
#over-foto {
	width: 500px;
	max-width:100%;
	overflow: hidden;
}
