#productgroup-container {
	width: calc(100% - 90px);
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-evenly;
	margin-top: 30px;
	h3 {
		width: calc(100% - 5px);
		margin: auto;
		text-align: center;
	}
	.frontproduct {
		width: 370px;
		height: 350px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 5px;
			//&:hover {
				//bottom: 3px;
			//}
			&-img {
				width: 100%;
				height: 70%;
				padding:0;
				margin: auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			&-text {
				width: 100%;
				height: 30%;
				color: #7a7979!important;
				&-title {
					font-weight: bold;
					font-size: 100%;
					top: 20px;
				}
				&-link {				
					font-weight: bold;
					font-size: 16px;
				
				}
				&-link:hover {
					text-decoration: underline;
				}
			}
		a {
			color: #7a7979!important;
		}
	}
}


///// Changes 19 sept
#merkbanner {
	width: 100%;
	height: 50vh;
	background-size: cover;
	position: relative;
	margin-bottom: 20px;
}

#merktitel {
	position: absolute;
	top: 10%;
	width:100%;
	text-align: center;
}

#merklogo {
	width: 300px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid $fontcolor;
}

#merk-coming {
	width: 100%;
	text-align: center;
	font-size: 200%;
	margin-top: -40px;
	margin-bottom: 50px;
	color: #2E3D50;
	font-weight: bold;
}