#titel-search {
	font-weight: bold;
	font-family: inherit;
	color: #2E3D50;
	margin: 40px 0px 0px 50px;
}
	
#titel-searchborder {
    width: 50px;
    border-bottom: 2px solid #488e7f;
    margin-top: 5px;
}

#excerptimagesearch {
    margin-right: 15px;
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
	margin-bottom: 20px;
}
